.Welcome{
    color:white;
    position: relative;
    top: 20px;
    left: 200px;
    float: left;
    letter-spacing: 2px;
}
 
.Header{
    color:white;
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 80px;
    left: 150px;
    float: left;
}

.Description{
    color:white;
    text-align: center;
    font-weight: lighter;
    position: absolute;
    top: 100px;
    right: 0;
    left: 200px;
    float: left;
    letter-spacing: 1px;
}

.Symptobot{
    width:300px;
    height: 300px;
    border-radius: 15px;
    transition: all ease 500ms; 
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 220px;
    right: 0;
    left: 280px;
    bottom: 0;
    float: left;
}

.SymptobotImg {
    width:100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.HealthImage {
    width:850px;
    height: 770px;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 15px;
    filter: brightness(50%);
}

.Left {
    position: relative;
}

.Button{
    color: white;
    background-color: lightskyblue;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 20px;
    width:250px;
    height: 30px;
    border-radius: 40px;
    transition: all ease 500ms;
    position: absolute;
    top: 400px;
    right: 0;
    left: 300px;
    bottom: 200px;
    font-size: 10px;
    float: left;
}

.Button:hover{
    transform: scale(1.25);
    background-color: rgb(50, 175, 252);
    text-decoration: underline;
}

.Links{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    top: 0px;
    right: 0px;
    left: -50px;
    bottom: 0;
}

body {
    background: black;
    padding-top: 15px;
    display: flex;
    justify-content: center;
  }