.Dashboard{
    align-items: center;
}
.Dashboard-items{
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Dashboard-title{
    color: white;
    text-align: center;
    padding-top: 40px;
    font-size: 60px;
}

.Confirmed{
    background-color: lightskyblue;
    color: black;
    width: 800px;
    height: 50px;
    border-radius: 15px;
    padding-top: 10px;
}

.Confirmed:hover{
    background-color: rgb(32, 170, 255);
}

.Recovered{
    background-color: lightskyblue;
    color: black;
    width: 800px;
    height: 50px;
    border-radius: 15px;
    padding-top: 10px;

}

.Recovered:hover{
    background-color: rgb(32, 170, 255);
}

.Deaths{
    background-color: lightskyblue;
    color: black;
    width: 800px;
    height: 50px;
    border-radius: 15px;
    padding-top: 10px;
}

.Deaths:hover{
    background-color: rgb(32, 170, 255);
}

.lastChecked{
    background-color: lightskyblue;
    color: black;
    width: 800px;
    height: 50px;
    border-radius: 15px;
    padding-top: 10px;
}

.lastChecked:hover{
    background-color: rgb(32, 170, 255);
}

.lastReported{
    background-color: lightskyblue;
    color: black;
    width: 800px;
    height: 50px;
    border-radius: 15px;
    padding-top: 10px;
}

.lastReported:hover{
    background-color: rgb(32, 170, 255);
}