.SymptomChecker {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* width: 100%;
    height: 100%; */
    align-items: center;
}

.SymptomChecker-Title {
    color: white;
    position: absolute;
    top:20px;
    z-index: 1;
    /* margin-top: 20px;
    margin-bottom: 20px; */
}

.SymptomChecker-Chatbox {
    /* width: 70%;
    height: 70%; */
    background-color: lightgreen;
    margin-top: 100px;
    margin-bottom: 100px;
}

.BackHome {
    color: white;
    background-color: lightskyblue;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 20px;
    width:12%;
    height: 30px;
    border-radius: 40px;
    transition: all ease 500ms;
    position: absolute;
    top: 88%;
    left:44%;
    /* right: 0;
    left: 300px;
    bottom: 200px; */
    font-size: 10px;
    /* float: left; */
}
    
.BackHome:hover{
    transform: scale(1.25);
    background-color: rgb(50, 175, 252);
    text-decoration: underline;
}